<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="featureIncluded">
            <h2><span>Feature Included</span> {{featureIncluded.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{featureIncluded.name}}</span>
                </dd>
                <dt><span>Caveat</span></dt>
                <dd>
                    <span>{{featureIncluded.caveat}}</span>
                </dd>
                <dt><span>Highlighted</span></dt>
                <dd>
                    <span>{{featureIncluded.highlighted}}</span>
                </dd>
                <dt><span>Products</span></dt>
                <dd>
                    <div *ngIf="featureIncluded.products">
                        <a [routerLink]="['/product', featureIncluded.products?.id, 'view']">{{featureIncluded.products?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feature-included', featureIncluded.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
