<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productCategoryGroup">
            <h2><span>Product Category Group</span> {{productCategoryGroup.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product Type</span></dt>
                <dd>
                    <div *ngIf="productCategoryGroup.productType">
                        <a [routerLink]="['/product-type', productCategoryGroup.productType?.id, 'view']">{{productCategoryGroup.productType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-category-group', productCategoryGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
